<div class="setting">
    <div class="label">
        <label for="vox_username"><MT_TRANS phrase="Username:"></label>
    </div>
    <div class="field">
        <input type="text" name="vox_username" id="vox_username" value="<TMPL_VAR NAME="VOX_USERNAME" ESCAPE=HTML>"><br/>
        <p><MT_TRANS phrase="Login name to the Vox."></p>
    </div> 
</div>

<div class="setting">
    <div class="label">
        <label for="vox_password"><MT_TRANS phrase="Password:"></label>
    </div>
    <div class="field">
        <input type="text" name="vox_password" id="vox_password" value="<TMPL_VAR NAME="VOX_PASSWORD" ESCAPE=HTML>"><br/>
        <p><MT_TRANS phrase="Password of the Vox."></p>
    </div> 
</div>

<div class="setting">
    <div class="label">
        <label for="vox_url"><MT_TRANS phrase="vox_url:"></label>
    </div>
    <div class="field">
        <input type="text" name="vox_url" id="vox_url" value="<TMPL_VAR NAME="VOX_URL" ESCAPE=HTML>"><br/>
        <p><MT_TRANS phrase="URL of your Vox blog."></p>
    </div> 
</div>

<div class="setting">
    <div class="label">
        &nbsp;
    </div>
    <div class="field">
        <input type="checkbox" name="always_post" id="always_post" value="1" <TMPL_IF NAME="ALWAYS_POST">checked</TMPL_IF>>&nbsp;<MT_TRANS phrase="Post to the Vox always">
    </div> 
</div>

